* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppin", sans-serif;
}
body{
  background-image: url("https://images.unsplash.com/photo-1555949963-ff9fe0c870eb?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

}
.app{
background: #fff;
width: 90%;
max-width: 600px;
margin: 100px auto 0;
border-radius: 10px;
padding: 30px;
}
.app h1{
  font-size: 25px;
  color: #001e4d;
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
}
.quiz{
  padding: 20px 0;
}
.quiz h2{
  font-size: 18px;
  color: #001e4d;
  font-weight: 600;
}
.btn{
  background: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover:not([disabled]){
  background: #222;
  color: #fff;
  transition: all 0.3s;
}
.btn:disabled{
  cursor: no-drop;
}
#next-btn{
  background: #001e4d;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}
#try-again-btn{
  background: #001e4d;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}
.correct{
  background:#9aeabc ;
}
.incorrect{
  background: #ff9393;
}
#welcomemsg{
  position: relative;
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  background-color: #2b88ad;
  height: 70px;
  width: 100%;
}
#timer{

  width: 100px;
  height: 30px;
  margin-top: 5px;
  color: #fff;
}
.app span{
  background-color: #0f7145;
  border-radius: 6px;
  height: 60px; 
  display: flex;
  align-items: center;
  justify-content: center;
}
